@model AllProducesQueryModel

@{ ViewBag.Title = "Produces"; }

<div class="row">
    <h1 class="col-md-12">@Model.BeehiveName</h1>
    <div class="col-md-4">
        <div class="mb-3">
            <div>
                <a asp-controller="Produces" asp-action="Add" asp-route-beehiveId="@Model.BeehiveId" class="btn btn-primary">Add Produce</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 class="col-md-6">
        Среден добив: @Model.AverageProduces кг
    </h2>
    <h2 class="col-md-6">
        Общ добив: @Model.TotalProduces кг
    </h2>
</div>

@if (!Model.Produces.Any())
{
<h2 class="text-center">No produces found!</h2>}
else {
<partial name="_ProducePartial" model="@Model.Produces" />
}
